.venv
.idea
.vscode
.claude
venv
upx
dist
output
build
setup builder
pmr-software.json
*.spec
*.txt
*.png
SetupTemplate.iss
__pycache__/
**/__pycache__/
*.pyc
.DS_Store
src/.DS_Store
appimagetool.AppImage
src/*.egg-info
*.AppDir
PyMacroRecord-*-*.AppImage*